.share-ul {
	text-align: center;
	padding-left: 0;}
	
.share-button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: left !important;
	list-style: none;
	letter-spacing: -.4em;
	width: 50px;
	height: 50px;
	font-size: 25px;
	color: #fff;
	transition-property: width;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
	overflow: hidden;
	white-space: nowrap}

.share-button i {
	position: absolute;
	top: 50%;
	left: 50%;
	letter-spacing: normal;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);}

.share-button a {
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;}

input.sharebox {
	display: none;}

.share-button label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
	width: 50px;
	height: 50px;
	cursor: pointer;}

input.sharebox:checked + .share-button {
	width: 200px;}

.domain-input {
	display: inline-block;
	position: relative;
	letter-spacing: normal;
	vertical-align: top;
	width: 100px;
	height: 100%;}

.share-a {
	display: inline-block;
	position: relative;
	vertical-align: top;
	letter-spacing: normal;
	width: 50px;
	height: 50px;}

.domain-input input[type="url"] {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	text-align: left;
	letter-spacing: normal;
	border: none;
	border-bottom: solid 2px #fff;
	background: rgba(255,255,255,0.3);
	width: 100px;
	height: 40%;
	color: #fff;}

.twitter-b {
	background: #55acee;}

.facebook-b {
	background: #3B5998;}

.tumblr-b {
	background: #2c4762;}

.googleplus-b {
	background: #dd4b39;}

.pinterest-b {
	background: #cb2027;}

.linkedin-b {
	background: #0e76a8;}

.vk-b {
	background: #45668e;}

.stumbleupon-b {
	background: #eb4924;}

.weibo-b {
	background: #df2029;}

.mixi-b {
	background: #d1ad59;}

.line-b {
	background: #1dcd00;}

.hatebu-b {
	background: #008fde;}

.pocket-b {
	background: #ef3f56;}

.gnusocial-b {
	background: #a22430;}

.mastodon-b {
	background: #2b90d9;}

.diaspora-b {
	background: #222;}

.friendica-b {
	background: #5385c1;}

.socialhome-b {
	background: #2fcbbe;
	background: linear-gradient(to bottom right, #3088d4, #2fcbbe, #77ffbd);}

.hubzilla-b {
	background: #43488a;}
